

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    max-width: 1600px;
    height:100%;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.69);
    font-family: 'Unbounded', cursive;
}

 h1 {
    margin-top: 3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom:2rem;
    
} 
h3{
    padding: 3rem 0;
    font-size: 2rem;
}

section {
    display: grid;
    grid-template-columns: repeat(8,6rem);
    grid-template-rows: repeat(8,6rem);
    grid-gap: .3rem;
    perspective: 800px;
    
}
.card {
    position:relative;
    transform-style: preserve-3d;
    transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
}

.face, 
.back {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position:absolute;
    pointer-events: none;
}
.back {
    background-color:white;
    backface-visibility: hidden;
}

.toggleCard {
    transform: rotateY(180deg)
}

.playerLivesCount{
    color: rgba(0, 0, 0, 0.69);
    font-size: 3rem;
    margin-left: 1rem;
}


/* mediaqueries */

@media (max-width: 790px) {
    section {
        display: grid;
        grid-template-columns: repeat(8,4.5rem);
        grid-template-rows: repeat(8,4.5rem);
        grid-gap: .5rem;
        perspective: 800px;
    }
    h1 {
        margin-top: 12rem;
        font-size: 2rem;
    }
}

@media (max-width: 660px) {
    section {
        display: grid;
        grid-template-columns: repeat(8,3.5rem);
        grid-template-rows: repeat(8,3.5rem);
        grid-gap: .5rem;
        perspective: 800px;
    }
    h3{
        
        font-size: 1rem;
    }
}


@media (max-width: 525px) {
    section {
        display: grid;
        grid-template-columns: repeat(6,3rem);
        grid-template-rows: repeat(auto,3rem);
        grid-gap: .2rem;
        perspective: 400px;
}
h1 {
    
    font-size: 1rem;
    
}
}