

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
	width: 100%;
    height:100%;
	overflow:hidden;
    background: url('./assets/v2/fondo.jpg')no-repeat center center/cover ;
    color: #333;
    font-family: 'Unbounded', cursive;
	display:flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}


.mariposa {
	margin-top: 5rem;
	position:relative;
	left: -600px;
	width:50px;
	margin-bottom: .4rem;
	animation: left infinite 7s ease-in-out;
}

@keyframes left {
	20% {
		left: -20px;	
	}
	35% {
		left: -10px;	
	}
	50% {
		left: 0px;	
	}
	75%{
		left: -10px;
	}
	100% {
		left: 0px;	
	}
	
	
}

.mariposa:hover {
	transform:scale(1.2)
}



.container {
	display:flex;
	width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	position:relative;
}

 h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0)
} 
h3{
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 200;
}

h6 {
	margin-bottom: 2rem;
    font-weight: 100;
	font-size: 1.1rem;
    color: rgb(248, 237, 237)
    
}
section {
    display: grid;
    grid-template-columns: repeat(6,5rem);
    grid-template-rows: repeat(6,5rem);
    grid-gap: .4rem;
    perspective: 800px;
    
}
.card {
    position:relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
}

.face, 
.back {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position:absolute;
    pointer-events: none;
}
.back {
    background-color:white;
    backface-visibility: hidden;
}

.toggleCard {
    transform: rotateY(180deg)
}

.playerLivesCount{
    color: #333;
    font-size: 1.2rem;
    margin-left: 1rem;
}

footer {
    position:absolute;
    bottom: 10px;
    right:10px;
}

/* mediaqueries */


@media (max-width: 660px) {
	header img {
		width:50px;
	}
    section {
        display: grid;
        grid-template-columns: repeat(6,4.7rem);
        grid-template-rows: repeat(6,4.7rem);
        grid-gap: .5rem;
        perspective: 800px;
    }
	h1{
		font-size: 1.6rem;
	}
    h3{
        
        font-size: 1rem;
    }
	h6 {
		font-size: 1rem;	
	}
}


@media (max-width: 560px) {
    section {
        display: grid;
        grid-template-columns: repeat(6,4.3rem);
        grid-template-rows: repeat(auto,4.3rem);
        grid-gap: .2rem;
        perspective: 400px;
}
h1 {
    
    font-size: 1rem;
    
}
}


@media (max-width: 480px) {
    section {
        display: grid;
        grid-template-columns: repeat(6,3.6rem);
        grid-template-rows: repeat(auto,3.6rem);
        grid-gap: .2rem;
        perspective: 400px;
}
h1 {
    
    font-size: 1rem;
    
}
}

@media (max-width: 400px) {
    section {
        display: grid;
        grid-template-columns: repeat(6,3.1rem);
        grid-template-rows: repeat(auto,3.1rem);
        grid-gap: .2rem;
        perspective: 400px;
}
h1 {
    
    font-size: 1rem;
    
}
h6 {
	font-size: .7rem;	
}
}

/*  mediaquery section end */

