

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    max-width: 1600px;
    height:100%;
    background: url("./assets/sky-34536.png") center/cover;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ccc;
    font-family: 'Unbounded', cursive;
}

 h1 {
    margin-top: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    
    
} 
h3{
    padding: 2rem 0;
    font-size: 1.2rem;
}

section {
    display: grid;
    grid-template-columns: repeat(8,6rem);
    grid-template-rows: repeat(8,6rem);
    grid-gap: .4rem;
    perspective: 800px;
    
}
.card {
    position:relative;
    transform-style: preserve-3d;
    transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
}

.face, 
.back {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position:absolute;
    pointer-events: none;
}
.back {
    background-color:white;
    backface-visibility: hidden;
}

.toggleCard {
    transform: rotateY(180deg)
}

.playerLivesCount{
    color: rgb(237, 222, 19);
    font-size: 1.7rem;
    margin-left: 1rem;
}

footer {
    position:absolute;
    bottom: 10px;
    right:10px;
}

/* mediaqueries */

@media (max-width: 790px) {
    section {
        display: grid;
        grid-template-columns: repeat(8,4.5rem);
        grid-template-rows: repeat(8,4.5rem);
        grid-gap: .5rem;
        perspective: 800px;
    }
    h1 {
        margin-top: 12rem;
        font-size: 2rem;
    }
}

@media (max-width: 660px) {
    section {
        display: grid;
        grid-template-columns: repeat(8,3.5rem);
        grid-template-rows: repeat(8,3.5rem);
        grid-gap: .5rem;
        perspective: 800px;
    }
    h3{
        
        font-size: 1rem;
    }
}


@media (max-width: 525px) {
    section {
        display: grid;
        grid-template-columns: repeat(6,3rem);
        grid-template-rows: repeat(auto,3rem);
        grid-gap: .2rem;
        perspective: 400px;
}
h1 {
    
    font-size: 1rem;
    
}
}